body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 14px;
  background-color: #5D87D9; }

h1, h2, h3 {
  font-weight: 400; }

h1, h2 {
  text-transform: uppercase; }

h2 {
  font-weight: bold; }

img {
  width: 100%; }

ul {
  padding: 0; }
  ul > li {
    list-style-type: none; }

p {
  margin: 4px; }

.header {
  text-align: center; }

.container {
  display: flex;
  flex-direction: row; }
  .container .right-section {
    margin: 4px 12px;
    width: 30%; }
  .container .left-section {
    margin: 4px 12px;
    width: 70%; }

.parameter {
  margin-bottom: 8px;
  padding: 6px 8px;
  border-radius: 4px;
  background-color: #485259;
  font-size: 0.8rem;
  color: #FFF; }
  .parameter .parameter__title {
    margin: 4px; }
  .parameter .parameter__field {
    margin-left: 16px;
    margin-bottom: 4px;
    line-height: 18px; }
    .parameter .parameter__field label {
      display: inline-block;
      width: 45%; }
    .parameter .parameter__field input[type="number"],
    .parameter .parameter__field input[type="file"] {
      width: 50%;
      border-radius: 4px;
      height: 18px;
      border: 1px solid #000; }
      .parameter .parameter__field input[type="number"]:hover, .parameter .parameter__field input[type="number"]:focus, .parameter .parameter__field input[type="number"]:active,
      .parameter .parameter__field input[type="file"]:hover,
      .parameter .parameter__field input[type="file"]:focus,
      .parameter .parameter__field input[type="file"]:active {
        border-color: #5D87D9; }

.resolve-btn {
  width: 100%;
  padding: 16px 0;
  cursor: pointer;
  border: 1px solid #5D87D9;
  border-radius: 4px;
  color: #FFF;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #485259; }
  .resolve-btn:hover, .resolve-btn:focus {
    background-color: #3d454b; }
